<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/shopping_bag_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerceAndroidApp"
        tools:targetApi="31">
        <activity
            android:name=".Activiity.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>



        </activity>

        <activity
            android:name=".Activiity.CategoryFiilterActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.CheckoutActivity"
            android:exported="false"

            android:theme="@style/DemoThemeMaterialComponent" />
        <activity
            android:name=".Activiity.ShoppingCartActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.ContactUsActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.ShippingActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.PaymentActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.ProfileActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.HowToOrderActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.ProductDescription"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.OrderHistoryActivity"
            android:exported="false"
            android:theme="@style/DemoThemeAppCompat" />
        <activity
            android:name=".Activiity.MainActivity"
            android:exported="false"
            android:theme="@style/MainActivityTheme.AppCompat">


        </activity> <!-- <activity android:name=".Activiity.SearchableActivity" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Activiity.UserProfileActivity"
            android:theme="@style/DemoThemeAppCompat" />
    </application>

</manifest>